* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #272838;
    
}

#formContainer{
   display: flex;
   flex-direction: column;
   border: 3px solid transparent;
   padding: 15px;
   box-shadow: 0 0 50px #5D536B,
                0 0 70px #5D536B;
   
}

#lenom,#leprenom,#lemessage,#lalangue {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

#legenre>label { /*Cible le premier label uniquement(premier enfant)*/
    margin-right: 2em;
}
#legenre,#lergpd{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}
input{
    background-color: #5D536B;
    color: #fff;
    border-radius: 5px;
    border: none;
    
}
input[type=radio]{
    margin: 0 10px;
}
input[type=checkbox]{
    margin-left: 10px;
    margin-bottom: 10px;
}
input[type=submit]{
    width: 40%;
  border-radius: 10px;
  padding: 5px;
  margin: 0 auto;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
label{
    color: #fff;
    margin-bottom: 10px;
}

textarea,select{
    background-color: #5D536B;
    color: #fff;
    border: none;
}


@media screen and (min-width:640px) and (max-width:1200px) {
    body{
        background-color: #30362F;
    }
    #formContainer{
        border: 3px solid transparent;
        box-shadow: 0 0 50px #625834,
                0 0 70px #625834;
        
    }
    #lenom,#leprenom,#lemessage,#lalangue{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    input{
        margin: 0 0 10px 10px;
        padding: 2px;
        background-color: #625834;
        border: none;
    }
    textarea,select{
        margin-left: 10px;
        background-color: #625834;
        border: none;
    }
}

@media screen and (min-width:1200px){
    body{
        background-color: #0A0908;
    }
   #formContainer{
    display: table-column;
    column-count: 2;
    column-gap: 50px;
    column-rule:  2px solid #ffffff90;
    border: 3px solid transparent;
    box-shadow: 0 0 50px #49111C,
            0 0 70px #49111C;
    
   }
   input{
    background-color: #49111C;
    border: none;
   }
   
 #lemessage{
    margin-top:5em;
    display: flex;
    flex-wrap: nowrap;
 }
 textarea{
    height: 100px;
    background-color: #49111C;
    border: none;
 }
 select{
    background-color: #49111C;
    border: none;
 }
 #lalangue{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: nowrap;
 }
 #lergpd{
    margin-top: 40px;
 }
 input[type=submit]{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    border-radius: 10px;
 }
}